/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1a; /* Cor de fundo escura */
    color: #f0f0f0; /* Texto claro para contrastar com fundo escuro */
}

h1, h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #eaeaea; /* Cor de texto mais suave */
}

section {
    padding: 50px 20px;
    margin: 20px 0;
    background-color: #333333; /* Fundo escuro para as seções */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Sombra mais forte para contraste */
}

/* Estilo da seção "Hero" */
#hero {
    background-color: #111111; /* Fundo mais escuro */
    color: #f4f4f4; /* Texto claro */
    text-align: center;
    padding: 80px 20px;
}

#hero h1 {
    font-size: 3em;
    color: #f4f4f4;
}

#hero p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #cccccc; /* Cor mais suave para o texto secundário */
}

/* Estilo dos botões */
button {
    padding: 10px 20px;
    background-color: #44444
